@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Lato";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css";
body {
  background-image: url("https://cdn.vox-cdn.com/thumbor/qlNsjn2VhdJgJhDIzbZDY6jPbrA=/0x0:1192x720/1200x800/filters:focal(501x265:691x455)/cdn.vox-cdn.com/uploads/chorus_image/image/53697087/pi_day.0.jpg");
  background-position: inherit;
  background-repeat: repeat-x;
  background-color: black;
  background-size: 35%;
  grid-template-columns: repeat 1, 1fr;
  grid-row-start: auto;
  overflow: auto; }

nav {
  font-family: 'press start 2P', cursi ve;
  color: #483a5a;
  background-color: black;
  padding: 20px;
  margin: 140px;
  margin-right: 100px;
  background-color: rgba(163, 59, 59, 0); }

.componentes {
  grid-area: section; }

header {
  display: grid;
  grid-template-columns: 1; }

main {
  display: grid;
  grid-template-areas: "section section section" "section section section" "section section section" "section section section";
  margin-top: 20px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 40px; }

#nosotros {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: beige;
  margin-bottom: 200px;
  margin-left: 300px;
  margin-right: 300px;
  background-color: rgba(75, 51, 97, 0.295);
  border: rgba(75, 51, 97, 0.712) 2px solid;
  overflow: auto; }
  #nosotros:hover {
    background-color: rgba(75, 39, 121, 0.623); }

#nos {
  text-align: center;
  margin-top: 100px; }

.contenedorPadre {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 20px; }

.componentes {
  display: flex;
  flex-direction: row;
  margin: 40px;
  width: 26%;
  height: 370px;
  border: rgba(74, 39, 121, 0.747) 1px solid; }
  .componentes:hover {
    transform: scale(113%, 113%);
    border: #d9d9d9 solid 3px; }

.carousel {
  justify-content: center;
  text-align: center;
  width: 100%;
  max-width: 1000px;
  margin-top: 100px;
  margin-left: 450px;
  margin-bottom: 150px; }

li {
  display: inline-block;
  position: relative;
  font-size: 20px;
  padding: 20px;
  text-align: center; }

ul {
  padding: 0;
  list-style: none; }
  ul ul {
    position: absolute;
    display: none;
    font-size: 20px; }
    ul ul li {
      padding: 10px;
      font-size: 15px;
      background-color: black;
      margin-left: 1px;
      justify-content: end;
      display: block;
      z-index: 999; }
  ul li:hover {
    background-color: #231c2c;
    color: #7c7c7c; }
    ul li:hover ul {
      display: block; }

.encabezado {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.733);
  justify-content: space-between;
  border: solid; }

#buscador {
  text-align: right;
  margin-right: 80px; }

.row {
  justify-content: center;
  margin-right: 10px;
  background-color: transparent !important; }

@media only screen and (min-width: 1024px) {
  header {
    grid-template-columns: 1, 1fr; }
  body {
    grid-template-columns: repeat 1, 1fr;
    background-size: 40%; } }

@media only screen and (min-width: 768px) {
  header {
    grid-template-columns: 1, 1fr; }
  body {
    grid-template-columns: repeat-x 1, 1fr;
    background-size: 40%; }
  .contenedorPadre {
    display: flex;
    flex-direction: row;
    align-content: space-between; }
  h5 a {
    position: relative; } }

@media only screen and (max-width: 768px) {
  header {
    display: flex;
    grid-template-columns: 1, 1fr; }
  h1 {
    display: none; }
  body {
    background-repeat: repeat-x;
    background-size: 95%; }
  nav {
    padding: 0px;
    margin: 0px;
    margin-right: 0px; }
  .gen {
    font-size: 30px;
    margin-top: 10px;
    justify-content: center;
    padding-left: 140px;
    padding-top: 15px;
    height: 10px; }
  hr {
    border: solid 1px;
    border-color: #707070;
    margin-bottom: 0px; }
  #tabla {
    display: initial; }
  .pelis {
    margin-top: 0px;
    margin-left: 6px;
    display: flex;
    flex-direction: column; }
  .carousel {
    margin-top: 90px;
    margin-left: 2px;
    margin-right: 3px; }
  h5 a {
    font-size: 100px;
    position: absolute; }
  .componentes {
    border: #72000000 solid 3px; }
    .componentes:hover {
      border: rgba(74, 39, 121, 0.747) solid 3px;
      transform: scale(105%, 105%); }
  .tablon {
    margin-top: 60px;
    margin-bottom: 20px;
    margin-right: 0px;
    font-size: 10px; }
  #coment {
    width: 200px;
    height: 300px;
    margin-right: 50px; }
  #nos {
    margin-top: 50px;
    height: 0px;
    width: 0px;
    display: flex;
    flex-direction: row; }
  #nosotros {
    margin: 0px;
    margin-top: 30px; }
  #grid {
    height: 100px;
    display: initial; }
  .contenedorPadre {
    margin-top: 80px;
    grid-template-columns: repeat 1, 1fr;
    justify-content: center;
    display: flex;
    flex-direction: column; }
  footer {
    margin-top: 80px; }
  .encabezado {
    margin-left: 3px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.678); } }

.btn--.fa-facebook {
  padding: 10px 14px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #ffffff; }
  .btn--.fa-facebook:hover {
    background-color: #3d5b99; }

.btn--.fa-twitter {
  padding: 10px 14px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #ffffff; }
  .btn--.fa-twitter:hover {
    background-color: #00aced; }

.btn--.fa-instagram {
  padding: 10px 14px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #ffffff; }
  .btn--.fa-instagram:hover {
    background-color: #833AB4; }

.redes {
  border: #ffffff00;
  justify-content: center;
  margin-left: 150px; }

h2 {
  margin: 1% 0 1% 0; }

h3 {
  margin: 1% 0 1% 0; }

h5 {
  margin: 1% 0 1% 0; }

h6 {
  margin: 1% 0 1% 0; }

._12 {
  font-size: 1.2em; }

._14 {
  font-size: 1.4em; }

.footer-social-icons {
  width: 350px;
  display: block;
  margin: 0 auto; }

.social-icon {
  color: #fff; }

ul.social-icons {
  margin-top: 10px; }

.social-icons li {
  vertical-align: top;
  display: inline;
  height: 100px; }

.social-icons a {
  color: #fff;
  text-decoration: none; }

@keyframes cinecatodico {
  0% {
    opacity: 1; }
  25% {
    opacity: 0,5; }
  50% {
    opacity: 0; }
  75% {
    opacity: 0,5; }
  100% {
    opacity: 1; } }

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 80px;
  background-color: black;
  padding-top: 4px;
  height: 100px;
  text-align: center;
  border: double;
  border-color: rgba(74, 39, 121, 0.747); }
  h1:hover {
    opacity: 1;
    animation-name: cinecatodico;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in; }

#titulo {
  font-family: Arial, Helvetica, sans-serif;
  word-spacing: 1px;
  color: #483a5a;
  font-weight: bold; }

#redes {
  font-family: Arial, Helvetica, sans-serif;
  word-spacing: 1px;
  color: #413255;
  text-align: left; }

.tablon {
  font-family: 'press start 2P', cursi ve;
  color: blanchedalmond;
  font-size: 20;
  background-color: rgba(75, 51, 97, 0.295);
  margin-bottom: 60px;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 100px;
  border: solid;
  border-color: rgba(75, 51, 97, 0.527);
  padding: 40px;
  align-content: center; }
  .tablon:hover {
    background-color: rgba(75, 39, 121, 0.623);
    border-color: rgba(255, 255, 255, 0.747); }

.gen {
  font-family: Arial, Helvetica, sans-serif;
  color: #707070;
  font-size: 40px;
  padding-left: 140px;
  padding-top: 15px;
  height: 70px; }

hr {
  border: solid 1px;
  border-color: #707070; }

.pelicula {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  background-color: #483a5a;
  color: rgba(0, 0, 0, 0.605);
  font-weight: bold;
  padding: 7px;
  padding-top: 10px; }

.contacto {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 30px;
  background-color: rgba(72, 58, 90, 0.301);
  margin-top: 58px;
  padding-top: 25px;
  padding-bottom: 1px; }

.we {
  display: inline-block; }

.movie {
  font-size: 20px;
  color: rgba(217, 194, 224, 0.589); }
  .movie:hover {
    color: white; }

.diseñador {
  color: #91908e;
  font-family: Arial, Helvetica, sans-serif;
  margin: 1% 0 1% 0;
  margin-top: 70px; }

h5 {
  font-size: 150px;
  font-family: Arial, Helvetica, sans-serif;
  font: bold;
  margin-bottom: 130px;
  text-justify: center;
  text-align: center; }
  h5 > a:hover {
    color: rgba(74, 39, 121, 0.747); }

a {
  text-decoration: none;
  color: #fff; }

p > a:hover {
  color: #d9d9d9;
  text-decoration: underline; }
