@import "https://fonts.googleapis.com/css?family=Lato";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css";
body {
  background-image: url("https://cdn.vox-cdn.com/thumbor/qlNsjn2VhdJgJhDIzbZDY6jPbrA=/0x0:1192x720/1200x800/filters:focal(501x265:691x455)/cdn.vox-cdn.com/uploads/chorus_image/image/53697087/pi_day.0.jpg");
  background-position: inherit;
  background-repeat: repeat-x;
  background-color: black;
  background-size: 35%;
  grid-template-columns: repeat 2, 1fr;
  grid-row-start: auto; }

nav {
  font-family: 'press start 2P', cursi ve;
  color: #483a5a;
  border: #7c7c7c 1px solid;
  background-color: black;
  padding: 15px;
  margin: 140px; }

section {
  grid-area: section; }

header {
  display: grid;
  grid-template-columns: 1fr; }

main {
  display: grid;
  grid-template-areas: "section publicidad" "section publicidad" "section publicidad" "section publicidad"; }

.contenedorPadre {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 25px; }

#nosotros {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: beige;
  margin-bottom: 400px;
  margin-left: 300px;
  margin-right: 300px;
  background-color: rgba(75, 51, 97, 0.295);
  border: rgba(75, 51, 97, 0.712) 2px solid; }

#nos {
  text-align: center;
  margin-top: 100px;
  border: rgba(75, 51, 97, 0.712) 2, 5px solid;
  margin-left: 550px;
  margin-right: 550px; }

.componentes {
  display: flex;
  flex-direction: row;
  margin: 40px;
  width: 40%;
  height: 300px;
  border: rgba(74, 39, 121, 0.747) 1px solid; }
  .componentes:hover {
    transform: scale(110%, 110%);
    border: #d9d9d9 solid 2px; }

li {
  display: inline-block;
  position: relative;
  border: solid;
  font-size: 20px;
  padding: 20px;
  text-align: center; }

ul {
  padding: 0;
  list-style: none; }
  ul ul {
    position: absolute;
    display: none;
    font-size: 20px; }
    ul ul li {
      padding: 10px;
      font-size: 20px;
      background-color: black;
      left: 4;
      text-align: center;
      justify-content: end; }
  ul li:hover {
    background-color: #231c2c;
    color: #7c7c7c; }
    ul li:hover ul {
      display: block; }

.encabezado {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  text-align: initial;
  background-color: rgba(0, 0, 0, 0.541);
  justify-content: space-between; }

#buscador {
  text-align: right;
  margin-right: 80px; }

@media only screen and (min-width: 1024px) {
  header {
    grid-template-columns: 1fr; }
  main {
    grid-template-columns: repeat 4, 1fr; } }

@media only screen and (max-width: 768px) {
  header {
    grid-template-columns: 1fr; }
  main {
    grid-template-columns: repeat 3, 1fr; } }

@media only screen and (min-width: 768px) {
  header {
    grid-template-columns: 1fr; }
  body {
    grid-template-columns: repeat 2, 1fr;
    grid-row-start: auto; } }

.btn--.fa-facebook {
  padding: 10px 14px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #322f30; }
  .btn--.fa-facebook:hover {
    background-color: #3d5b99; }

.btn--.fa-twitter {
  padding: 10px 14px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #322f30; }
  .btn--.fa-twitter:hover {
    background-color: #00aced; }

.btn--.fa-instagram {
  padding: 10px 14px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #322f30; }
  .btn--.fa-instagram:hover {
    background-color: #833AB4; }

h2 {
  margin: 1% 0 1% 0; }

h3 {
  margin: 1% 0 1% 0; }

h5 {
  margin: 1% 0 1% 0; }

h6 {
  margin: 1% 0 1% 0; }

._12 {
  font-size: 1.2em; }

._14 {
  font-size: 1.4em; }

.footer-social-icons {
  width: 350px;
  display: block;
  margin: 0 auto; }

.social-icon {
  color: #fff; }

ul.social-icons {
  margin-top: 10px; }

.social-icons li {
  vertical-align: top;
  display: inline;
  height: 100px; }

.social-icons a {
  color: #fff;
  text-decoration: none; }

@keyframes cinecatodico {
  0% {
    opacity: 1; }
  25% {
    opacity: 0,5; }
  50% {
    opacity: 0; }
  75% {
    opacity: 0,5; }
  100% {
    opacity: 1; } }

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 80px;
  background-color: black;
  padding-top: 20px;
  height: 100px;
  text-align: center;
  border: double;
  border-color: rgba(74, 39, 121, 0.747);
  margin: 1% 0 1% 0; }
  h1:hover {
    opacity: 1;
    animation-name: cinecatodico;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in; }

.publicidad {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 40px;
  padding-top: 40px;
  margin-right: 5px;
  grid-area: publicidad; }

#titulo {
  font-family: Arial, Helvetica, sans-serif;
  word-spacing: 1px;
  color: #483a5a;
  font-weight: bold; }

#redes {
  font-family: Arial, Helvetica, sans-serif;
  word-spacing: 1px;
  color: #483a5a;
  text-align: left; }

.tablon {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: blanchedalmond;
  font-size: 20;
  background-color: #483a5a;
  margin-bottom: 100px;
  margin: 25px;
  padding: 15px;
  border: solid;
  border-color: white; }

.pelicula {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #483a5a;
  color: black;
  font-weight: bold;
  padding: 5px;
  overflow: auto; }

.contacto {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 30px;
  background-color: rgba(72, 58, 90, 0.301);
  margin-top: 58px;
  padding-top: 25px;
  padding-bottom: 1px; }

h4 {
  font-weight: normal;
  color: blanchedalmond;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 1% 0 1% 0; }

a {
  text-decoration: none;
  color: #fff; }

p > a:hover {
  color: #d9d9d9;
  text-decoration: underline; }

@media only screen and (min-width: 1024px) {
  header {
    grid-template-columns: 1fr; }
  main {
    grid-template-columns: repeat 4, 1fr; } }

@media only screen and (max-width: 768px) {
  header {
    grid-template-columns: 1fr; }
  main {
    grid-template-columns: repeat 3, 1fr; } }

@media only screen and (min-width: 768px) {
  header {
    grid-template-columns: 1fr; }
  body {
    grid-template-columns: repeat 2, 1fr;
    grid-row-start: auto; } }
