body {
	background-image: url("https://cdn.vox-cdn.com/thumbor/qlNsjn2VhdJgJhDIzbZDY6jPbrA=/0x0:1192x720/1200x800/filters:focal(501x265:691x455)/cdn.vox-cdn.com/uploads/chorus_image/image/53697087/pi_day.0.jpg");
	background-position: inherit;
	background-repeat: repeat-x;
	background-color: rgb(0, 0, 0);
	background-size: 35%;
	grid-template-columns: repeat (1, 1fr);
	grid-row-start: auto;
	overflow: auto;
}

nav {
	font-family: 'press start 2P', cursi ve;
	color: rgb(72, 58, 90);
    background-color: rgb(0, 0, 0);
	padding: 20px;
	margin: 140px;
	margin-right: 100px;
	background-color: rgba(163, 59, 59, 0);
}

.componentes {
	grid-area: section;
}

header {
	display: grid;
	grid-template-columns: (1);
}

main {
    display: grid;
    grid-template-areas: "section section section" "section section section" "section section section" "section section section";
	margin-top: 20px;
	margin-left: 80px;
	margin-right: 80px;
	margin-bottom: 40px;
}


#nosotros{
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	color: beige;
	margin-bottom: 200px;
	margin-left: 300px;
	margin-right: 300px;
	background-color: rgba(75, 51, 97, 0.295);
	border: rgba(75, 51, 97, 0.712) 2px solid;
	overflow: auto;
	&:hover {
		background-color:rgba(75, 39, 121, 0.623);
	}
}

#nos {
	text-align: center;
	margin-top: 100px;
}   



.contenedorPadre {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin: 20px;
}

.componentes {
	display: flex;
	flex-direction: row;
	margin: 40px;
	width: 26%;
	height: 370px;
	border: rgba(74, 39, 121, 0.747) 1px solid;
	&:hover {
		transform: scale(113%, 113%);
		border:#d9d9d9 solid 3px;}
	}


.carousel {
	justify-content: center;
	text-align: center;
	width: 100%; 
    max-width: 1000px;
	margin-top: 50px;
	margin-left: 450px;
	margin-bottom: 150px;
}

