
@media only screen and(min-width: 1024px) {
	header {
		grid-template-columns: (1, 1fr);
	}

	body{
		grid-template-columns: repeat (1, 1fr);
		background-size: 40%;
	
	}

	
}


@media only screen and(min-width: 768px) {
	header {
		grid-template-columns: (1, 1fr);
	}

	body{
		grid-template-columns: repeat-x (1, 1fr);
		background-size: 40%;
		
	}		

	.contenedorPadre{
		display: flex;
		flex-direction: row;
		align-content: space-between;
	}
		
		h5 a {
	position: relative;
	}
}

@media only screen and(max-width: 768px) {
	header {
		display: flex; 
		grid-template-columns: (1, 1fr);
		
	}
	
	h1 {
		display:none
	}
	

	body{
		background-repeat: repeat-x;
		background-size: 95%;
	}
	nav{
		padding: 0px;
		margin: 0px;
		margin-right: 0px;
	}

	.gen{
		font-size: 30px;
		margin-top: 10px;
		justify-content: center;
		padding-left: 140px;	
		padding-top: 15px;
		height: 10px;
	}
	
	hr{
		border: solid 1px;
		border-color: rgb(112, 112, 112);
		margin-bottom: 0px;
	}

	#tabla{
		display: initial;
	}

	.pelis{
		margin-top: 0px;
		margin-left: 6px;
		display: flex;
		flex-direction: column;
	}

	.carousel{
		margin-top: 90px;
		margin-left: 2px;
		margin-right: 3px;
	  }
	  
	  h5 a {
		font-size: 100px;
		position: absolute;
		}


	.componentes{
		border:#72000000 solid 3px;
		&:hover {
			border: rgba(74, 39, 121, 0.747) solid 3px;
			transform: scale(105%, 105%);
		}
	}

	.tablon {
		margin-top: 60px;
		margin-bottom: 20px;
		margin-right: 0px;
		font-size: 10px;
		}
		


	#coment{
		width: 200px;
		height: 300px;
		margin-right: 50px;
	}

	#nos{
		margin-top: 50px;
		height: 0px;
		width: 0px;
		display: flex;
		flex-direction: row;
	}

	#nosotros{
		margin: 0px;
		margin-top:30px;
	}
	
	#grid{
		height: 100px;
		display: initial;
	}

	.contenedorPadre{
		margin-top: 80px;
		grid-template-columns: repeat (1,1fr);
		justify-content: center;
		display: flex;
		flex-direction: column;
	}

	footer{
		margin-top: 80px;
	}

	.encabezado {
		margin-left: 3px;
		text-align: left;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background-color: rgba(0, 0, 0, 0.678);
	}


}