
li {
	display: inline-block;
	position: relative;
	border: solid;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}
ul {
	ul {
		position: absolute;
		display: none;
		font-size: 20px;
		li {
			padding: 10px;
			font-size: 15px;
			background-color: rgb(0, 0, 0);
			margin-left: 1px;
			justify-content: end;
			display: block;
			z-index: 999;
		}
	}
	li {
		&:hover {
			ul {
				display: block;
			}
			background-color: rgb(35, 28, 44);
			color: rgb(124, 124, 124);
		}
	}
	padding: 0;
	list-style: none;
}

.encabezado {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.541);
	justify-content: space-between;
}

#buscador{
    text-align: right;
    margin-right: 80px;
}

.row{
	justify-content: center;
	margin-right: 10px;
	background-color: transparent !important;
}
