@import "estructura";
@import "menu";
@import "grid";
@import "redes";



@keyframes cinecatodico {
	0% {
		opacity: 1;
	}
	25% {
		opacity: 0,5;
	}
	50% {
		opacity: 0;
	}
	75% {
		opacity: 0,5;
	}
	100% {
		opacity: 1;
	}
}
@import "https://fonts.googleapis.com/css?family=Lato";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css";


$font:80px;
$fuente: Arial, Helvetica, sans-serif;


h1 {
	font-family: $fuente;
	color: rgb(255, 255, 255);
	font-size: $font;
	background-color: rgb(0, 0, 0);
	padding-top: 4px;
	height: 100px;
	text-align: center;
	border: double;
	border-color: rgba(74, 39, 121, 0.747);
	margin: 2% 0 1% 0;
	&:hover {
		opacity: 1;
		animation-name: cinecatodico;
		animation-duration: 2s;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in;
	}
}

#titulo {
	font-family: $fuente;
	word-spacing: 1px;
	color: rgb(72, 58, 90);
	font-weight: bold;
}

#redes {
	font-family: $fuente;
	word-spacing: 1px;
	color: rgb(72, 58, 90);
	text-align: left;
}

.tablon {
font-family: $fuente;
font-weight: bold;
color: blanchedalmond;
font-size: $font/4px;
background-color: rgb(72, 58, 90);
margin-bottom: 60px;
margin-right: 100px;
margin-left: 100px;
margin-top: 100px;
border: solid;
border-color: rgb(255, 255, 255);
padding: 40px;
align-content: center;
}



.pelicula {
	font-family: $fuente;
	font-size: 19px;
	background-color: rgb(72, 58, 90);
	color: rgba(0, 0, 0, 0.705);
	font-weight: bold;
	padding: 7px;
	padding-top: 10px;
	&:hover {
		color:rgb(0, 0, 0);}
	}


.contacto {
	font-family: $fuente;
	color: rgb(255, 255, 255);
	font-size: 30px;
	background-color: rgba(72, 58, 90, 0.301);
	margin-top: 58px;
	padding-top: 25px;
	padding-bottom: 1px;
}

.we{
	display: inline-block;
}


.diseñador {
	color: rgb(145, 144, 142);
	font-family: $fuente;
	margin: 1% 0 1% 0;
	margin-top: 70px;
    }

h5 {
	font-size: 150px;
	font-family: $fuente;
	color:rgba(69, 42, 104, 0.788);
	border-radius: #fff;
	font: bold;
	margin-bottom: 130px;
	text-justify: center;
	text-align: center;
	margin-right: 30px;
}

a {
	text-decoration: none;
	color: #fff;
}
p {
	>a {
		&:hover {
			color: #d9d9d9;
			text-decoration: underline;
		}
	}
}


